<section>
    <header class="tw-my-16">
        <app-section-title title="HABILIDADES"></app-section-title>
    </header>
    <div class="tw-flex tw-flex-wrap tw-justify-center tw-gap-8 tw-max-w-[700px] tw-mx-auto">
        @for (skill of skills; track $index) {
            <app-skill-card [icon]="skill.icon" [name]="skill.name" [size]="skill.iconSize"></app-skill-card>
        }

        @empty {
            <p class="tw-my-52 tw-font-bold tw-text-3xl tw-text-slate-500">NO HAY NADA POR ACÁ...</p>
        }
    </div>
</section>