<div
	class="tw-flex tw-min-h-svh tw-flex-col tw-flex-wrap tw-items-center tw-justify-center tw-gap-8  lg:tw-flex-nowrap lg:tw-gap-16"
>
	<div
		class="tw-flex tw-flex-col tw-flex-wrap tw-items-center tw-justify-center tw-gap-5 sm:tw-flex-row md:tw-shrink-0"
	>
		<div class="tw-size-40 tw-rounded-full tw-overflow-hidden">
			<img src="/assets/me.jpg" class="tw-object-cover tw-w-full tw-scale-[150%] tw-object-[-6px]"/>
		</div>
		<div class="tw-text-center sm:tw-text-left">
			<h1 class="tw-tracking-widest">
				<span class="tw-block tw-font-semibold tw-leading-7 tw-text-5xl"
					>NICOLÁS</span
				>
				<span class="tw-block tw-font-black tw-text-primary-500 tw-text-6xl"
					>GALARZA</span
				>
			</h1>
			<p>Full Stack Developer</p>
		</div>
	</div>
	<div class="tw-w-[600px]">
		<app-section-title title="SOBRE MI"></app-section-title>
		<p class="tw-text-lg tw-tracking-wider tw-mt-4">
			Soy una persona autodidacta, aprendí varios lenguajes y herramientas,
			ahora me encuentro en busca de una oportunidad laboral para seguir
			mejorando y puliendo mis habilidades como programador.
		</p>
	</div>
</div>
