<div class="tw-shadow-lg">
  <img class="tw-w-full tw-aspect-video tw-object-cover tw-object-center" src=" https://picsum.photos/500/500" />
  <div class="tw-px-5 tw-pb-5 tw-pt-4 tw-border-4 tw-border-oxford-blue-800 tw-border-t-0">
    <h3 class="tw-text-3xl tw-font-bold tw-mb-2">Project name</h3>
    <p class="tw-text-lg tw-tracking-wider">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quam porro quos maxime ullam quaerat libero inventore pariatur velit ut consequuntur dolor nihil soluta dignissimos maiores ea aperiam, iure quae.
    </p>
  </div>
</div>
