<div class="tw-relative tw-w-max">
    <input
        #inputEmail
        class="tw-w-96 tw-cursor-text tw-rounded-lg tw-border-2 tw-border-blue-900 tw-px-4 tw-py-1 tw-text-lg tw-bg-transparent"
        type="text"
        [disabled]="disabled"
        value="nicolasgalarza40@gmail.com"
    />
    <button
        (click)="copyInputEmail(inputEmail)"
        class="tw-absolute tw-right-0 tw-top-0.5 tw-rounded-lg tw-bg-blue-900 tw-p-1 tw-px-8"
    >
        <i class="fa-regular fa-copy tw-text-lg tw-text-white"></i>
    </button>
</div>