<div class="tw-relative tw-w-max tw-flex tw-flex-nowrap">
    <input
        #inputEmail
        class="tw-w-72 tw-h-10 tw-cursor-text tw-rounded-sm tw-border-2 tw-border-primary tw-border-r-0 tw-border-opacity-45 tw-px-4 tw-py-1 tw-text-lg tw-bg-transparent"
        type="text"
        [disabled]="disabled"
        value="nicolasgalarza40@gmail.com"
    />
    <div class="tw-relative" (click)="toolTip = !toolTip">
        <button
            (click)="copyInputEmail(inputEmail)"
            class="tw-h-10 tw-bg-primary tw-p-1 tw-px-8 hover:tw-bg-primary-lighter active:tw-bg-primary-darker tw-transition-all tw-duration-150 active:tw-scale-105"
        >
            <i class="fa-regular fa-copy tw-text-lg tw-text-rich-black"></i>
        </button>
        <div [hidden]="!(toolTip$ | async)" class="tooltip tw-absolute tw-bg-primary tw-w-fit tw-px-2 tw-py-1 tw-rounded-xl tw-left-[50%] tw-translate-x-[-50%] tw-bottom-[-2.75rem]">
            <span class="tw-text-rich-black tw-font-medium">copy!</span>
        </div>
    </div>
</div>