<div
	class="flex min-h-svh flex-col flex-wrap items-center justify-center gap-8 lg:flex-row lg:flex-nowrap lg:gap-16"
>
	<div
		class="flex flex-col flex-wrap items-center justify-center gap-5 sm:flex-row md:shrink-0"
	>
		<div class="size-56 rounded-full bg-stone-500"></div>
		<div class="text-center sm:text-left">
			<h1 class="text-4xl">
				<span class="block font-thin">NICOLÁS</span>
				<span class="block font-black">GALARZA</span>
			</h1>
			<p class="">Full Stack Developer</p>
		</div>
	</div>
	<div>
		<div class="mb-4">
			<app-section-title title="SOBRE MI"></app-section-title>
		</div>
		<p class="text-justify">
			Soy una persona autodidacta, aprendí varios lenguajes y herramientas,
			ahora me encuentro en busca de una oportunidad laboral para seguir
			mejorando y puliendo mis habilidades como programador.
		</p>
	</div>
</div>
