<h2 mat-dialog-title>Edit Skill</h2>
<mat-dialog-content>
	<form [formGroup]="skillFormGroup" id="skillForm" (ngSubmit)="onSubmit()">
		<div class="tw-grid tw-grid-cols-2 tw-gap-4">
			<!-- Left side -->
			<div>
				<!-- Name -->
				<mat-form-field class="tw-w-full">
					<mat-label>Name</mat-label>
					<input matInput formControlName="name" type="text" />
					<mat-hint>Choose a name for this skill.</mat-hint>
					@if (skillFormGroup.name.invalid) {
						<mat-error>{{ skillFormGroup.getNameErrorMessage() }}</mat-error>
					}
				</mat-form-field>
				<!-- Description -->
				<mat-form-field class="tw-w-full">
					<mat-label>Description</mat-label>
					<textarea matInput formControlName="description" rows="10"></textarea>
					<mat-hint>A description about the skill.</mat-hint>
					@if (skillFormGroup.description.invalid) {
						<mat-error>{{
							skillFormGroup.getDescriptionErrorMessage()
						}}</mat-error>
					}
				</mat-form-field>
			</div>
			<!-- Right side -->
			<div>
				<!-- Icon -->
				<div>
					<mat-form-field
						class="tw-cursor-pointer"
						(click)="hiddenInput.click()"
						class="tw-w-full"
					>
						<mat-label>Icon</mat-label>
						<input
							matInput
							formControlName="icon"
							readonly
							class="tw-cursor-pointer"
							type="text"
						/>
						<mat-icon matSuffix>folder_open</mat-icon>
						@if (skillFormGroup.icon.invalid) {
							<mat-error>{{ skillFormGroup.getIconErrorMessage() }}</mat-error>
						}
					</mat-form-field>
					<input
						hidden
						type="file"
						(change)="onSelectFile($event)"
						#hiddenInput
					/>
					<img
						class="tw-w-full tw-h-60 tw-mb-6 tw-object-cover"
						[src]="
							!!iconAsDataURL ? iconAsDataURL : url + skillFormGroup.icon.value
						"
					/>
					<button
						mat-raised-button
						(click)="hiddenInput.click()"
						type="button"
						color="primary"
						class="tw-w-full"
					>
						UPLOAD ICON
						<mat-icon matTextSuffix>upload_file</mat-icon>
					</button>
				</div>
			</div>
		</div>
	</form>
</mat-dialog-content>
<!-- Actions -->
<mat-dialog-actions align="end">
	<button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
	<!-- Returns false on close-->
	<button mat-raised-button color="primary" type="submit" form="skillForm">
		Save
	</button>
</mat-dialog-actions>
